.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: scale, linear, 250ms;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
